MAIN_SERVER_ADDRESS=http://XXX.XXX.XXX.XXX
GOOGLE_SIGN_IN_CLIENT_ID=XXXXX.apps.googleusercontent.com
TYPE=dev
# FIREBASE
API_KEY=XXX
APIKEY=X:Y:web:Z
MESSAGING_SENDER_ID=XXX
PROJECT_ID=X-Y
AUTHDO_MAIN=X-Y.firebaseapp.com
STORAGE_BUCKET=X-Y.appspot.com
MEASUREMENT_ID=X-Y
